<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="/article/list">SBB</a>
    <a href="/user/userCreate">회원가입</a>
    <ul>
        <li>
            <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
        </li>
    </ul>
</div>
<h1 th:text="${article.subject}"></h1>
<textarea name="detail-content" id="detail-content" cols="30" rows="10" th:text="${article.content}"></textarea>
<a th:href="@{/article/list}">목록으로 돌아가기</a>
<div class="my-3">
    <a th:href="@{|/article/modify/${article.id}|}"
       sec:authorize="isAuthenticated()"
       th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}"
       th:text="수정"></a>
    <a th:href="@{|/article/delete/${article.id}|}"
       sec:authorize="isAuthenticated()"
       th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}"
       th:text="삭제"
       onclick="return confirm('정말로 삭제하시겠습니까?');"></a>
</div>
</body>
</html>